@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

.contact_bg {
  background-image: url("/public/images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-attachment: fixed;
}
.contact_container {
  padding-left: 4em;
  padding-right: 2em;
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
  color: var(--color-word);
  background-color: var(--color-center);
}

.contact_title {
  width: 100%;
  height: 80px;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 80px;
}

.hello {
  font-family: "Island Moments", cursive;
  font-weight: 700;
  font-size: 75px;
}
.contact_help {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact_info {
  font-size: 20px;
  margin-bottom: 50px;
}

.name {
  padding: 5px;
  border-width: 0.6px;
  border-style: solid;
  border-color: var(--color-word);
  margin: 0 20px 20px 0;
}
.textarea {
  width: 366px;
  height: 160px;
  padding: 10px;
  border-width: 0.6px;
  border-style: solid;
  border-color: var(--color-word);
}
.send {
  background-color: var(--color-word);
  color: white;
  width: 48%;
  height: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
/* 
@media (max-width: 1000px) {
  .hello {
    text-align: center;
  }
  .contact_help {
    text-align: center;
  }
  .contact_info {
    text-align: center;
  }
  .contact_input {
    text-align: center;
  }
  .textarea {
    margin: auto;
  }
  .send {
    display: block;
    align-items: center;
    margin: 20px 0 10px 0;
  }
} */
@media (max-width: 620px) {
  .name {
    width: 80%;
  }
  .textarea {
    width: 80%;
  }
  .contact_container {
    padding-left: 2em;
    padding-right: 2em;
  }
}
