.free-shipping {
  width: 100vw;
  height: 50px;
  background-color: var(--color-main);
  color: var(--color-word);
  font-size: 25px;
}

.wording {
  width: 100%;
  text-align: center;
}

.background {
  /* min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center; */
}
.background-btn {
  width: 100px;
  height: 40px;
  background-color: var(--color-main);
  text-align: center;
  border-radius: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
.home_card-container {
  width: 850px;
  height: 410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.card-img {
  width: 310px;
  height: 310px;
}
.card_title {
  text-align: center;
  padding: 10px;
}
.card_blend {
  position: absolute;
  background-color: var(--color-word);
  color: var(--color-main);
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.card-btn {
  position: relative;
  display: block;
  border-style: solid;
  border-color: var(--color-word);
  width: 180px;
  height: 50px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
}
.home_card {
  width: 280px;
}
.card-def {
  text-align: center;
  margin: 20px auto;
  color: var(--color-word);
}
.card-def h1 {
  margin: 10px auto;
}
.testimonial {
  width: 850px;
  height: 472px;
  overflow-x: hidden;
  display: flex;
  margin: 30px auto;
}
.testimonial img {
  width: 850px;
  height: 472px;
}
