.home {
  background-image: url("/public/images/back_image.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.home_container {
  /* height: 1280px; */
  background-color: var(--color-center);
  margin: var(--margin-center);
}

.free-shipping {
  width: 850px;
  height: 40px;
  background-color: var(--color-main);
  color: var(--color-word);
  font-size: 25px;
  margin: 0 auto;
}

.home_main {
  width: 100%;
  text-align: center;
}

.background-img {
  width: 40%;
}
.background-btn {
  width: 100px;
  height: 40px;
  background-color: var(--color-main);
  text-align: center;
  border-radius: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
.home_card-container {
  max-width: 900px;
  width: 90%;
  height: 410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card_title {
  text-align: center;
  padding: 10px;
}
.card_blend {
  position: absolute;
  background-color: var(--color-word);
  color: white;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.card-btn {
  position: relative;
  display: block;
  border-style: solid;
  border-color: var(--color-word);
  width: 140px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
}
.card-btn:hover {
  transition: 0.5s;
  color: white;
  background-color: var(--color-word);
}
.home_card {
  width: 30%;
  height: 80%;
}
.card-def {
  text-align: center;
  margin: 20px auto;
  color: var(--color-word);
}
.card-def h1 {
  margin: 10px auto;
}
.testimonial {
  width: 70%;
  height: 30%;
  overflow-x: hidden;
  display: flex;
  margin: 3em auto 0 auto;
  padding-bottom: 30px;
}
.testimonial img {
  width: 100%;
  height: 40%;
}
