.background_img{
	background-image: url("/public/images/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: auto;
	margin: var(--margin-center);
  background-attachment: fixed;
}

.menu_background_center{
    background-color: rgba( 255, 255, 255, 0.8 );
    width: 100%;
    height: auto;
    margin: var(--margin-center);
}

.menu_title{
	padding-top: 20px;
	text-align: center;
}

.menu_box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_item{
	position: relative;
	padding: 2rem;
	text-align: center;
	cursor: pointer;
}

.img_front{
	position:relative;
	height: 15rem;
	width: 100%;
	z-index: 200;
	opacity: 1;
}
.img_back{
	position:absolute;
	top: 32px;
	left: 32px;
	width: 15rem;
	height: 15rem;
}
.img_front:hover{
	opacity: 0;
}

/* .menu_item:hover.menu_item>img{
	transform: scale(1.2);
} */

.menu_item h3{
	padding: 1rem 0;
}

.menu_item .price{
	font-size: 1.2rem;
	padding-bottom: 30px;
}

/* .menu_item > img{
	height: 15rem;
	width: 100%;
} */

.AddToCart{
	height: 30px;
	border: 1px solid black;
	border-radius: 15%;
	background-color: rgba(255, 224, 227, 0.36);
}
