.background_center{
    background-color: var(--color-side);
    width: var(--width-center);
    height: 1400px;
    margin: var(--margin-center);
}

.menu_title{
	margin-top: 20px;
	text-align: center;
}

.menu_box{
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_item{
	padding: 2rem;
	text-align: center;
	cursor: pointer;
}

.menu_item:hover.menu_item>img{
	transform: scale(1.2);
}

.menu_item h3{
	padding: 1rem 0;
}

.menu_item .price{
	font-size: 1.2rem;
	padding-bottom: 30px;
}

.menu_item > img{
	height: 15rem;
	width: 100%;
}

.AddToCart{
	height: 30px;
	border: 1px solid black;
	border-radius: 15%;
	background-color: rgba(255, 224, 227, 0.36);
  align-items: center;
}
