.header {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 0 5px 0;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

.logo {
  padding-left: 120px;
}
.logo > .LinkHome > img {
  width: 150px;
  height: 100px;
}

.header > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}
.header li {
  cursor: pointer;
  position: relative;
  padding: 0 40px;
}
.header ul > li > a:hover {
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
  padding-bottom: 0.5rem;
}
.icons {
  font-size: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-right: 120px;
}
.icon_1 {
  padding: 0 0 0 5px;
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
}
.empty {
  width: 100%;
  height: 100px;
}
@media (max-width: 1000px) {
	.header{
		flex-direction: column;
		height: 330px;
	}
	.header > ul{
		flex-direction: column;
	}
	.header > ul > li{
		padding: 0px 0px 10px 0px;
	}
	.logo{
		padding-left: 0px;
	}
	.icons{
		margin: 10px 15px 12px 0px;
	}
	.empty{
		height: 330px;
	}
}
