.header {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 0 5px 0;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.logo {
  padding-left: 120px;
}
.logo > .LinkHome > img {
  width: 150px;
  height: 100px;
}

.header > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}
.header li {
  cursor: pointer;
  position: relative;
  padding: 0 40px;
}
.header ul > li > a:hover {
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
  padding-bottom: 0.5rem;
}
.icon_cart {
  font-size: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-right: 120px;
}
.icon_1 {
  padding: 0 0 0 5px;
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
}
.icon_2 {
  display: none;
  cursor: pointer;
  background-color: transparent;
}
.empty {
  width: 100%;
  height: 100px;
}
.mediaMenu{
  font-size: 40px;
  width: 120px;
}
.cart_icon{
  margin-right: 10px;
}
@media (min-width: 901px) {
  .header > ul {
    display: flex;
  }
}

@media (max-width: 900px) {
	.header{
    position: relative;
		flex-direction: column;
	}
  .logo{
    position: absolute;
    left: 20px;
    padding-left: 20px;
  }
	.header > ul{
		flex-direction: column;
    position: absolute;
    top: 110px;
    display: none;
	}
	.header > ul > li{
		padding: 0px 0px 10px 0px;
	}
	.icons{
    position: absolute;
    top: 30px;
    right: 10px;
	}
  .icon_2 {
    display: block;
  }
  .icon_cart {
    float: left;
    margin: 0px;
  }
  .empty{
    display: none;
  }
}
